


<div id="wrapper">

    <!-- start header -->
    <!-- end header -->

    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="inner-heading">
                        
                        <h2>About Me</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="container">
            <div class="row">

                <div class="span12">
                    <p>
                        I am a 19 year old male with a passion for computers. I have made HTML pages with intergrated CSS and Javascript. I have used MVC to make a
                        website in Visual Studios, much more to come! <br />
                        I had originally planned to join the United States Navy to become a cyber warrior, but I wanted to try a different approach, so I decided
                        to get a job and save up money for college, then about 8 months later I learned about Coder Foundry and how it has a Launchpad Program using an ISA
                        to pay for tuition only after you get a job and I thought it would be great, so far it was worth it.<br />
                        I am always trying to make people smile or laugh especially when I am on a team, because I believe a higher moral helps get better results!<br />
                        
                    </p>
                    <blockquote>
                        Nearly all men can stand adversity, but if you want to test a man's character, give him power. <br /> ~ Abraham Lincoln
                    </blockquote>

                </div>

            </div>
            </div>
            <!-- divider -->
            <div class="row">
                <div class="span12">
                    <div class="solidline"></div>
                </div>
            </div>
            <!-- end divider -->

            
    </section>



</div>
<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>
@*
█████████▀░░▀▀█▄▄▄▄▄▄██▄▄▄▄▄▄█▀░░▀███████
████████▄░░▄▄████▀▀▀▀▀▀▀▀▀████▄▄░░▄████████
████▀▀▀▀█████▀░░░░░░░░░░░░░░░▀█████▀▀▀▀████
██▀░░░░░░██▀░░░░░░██░░░██░░░░░░▀██░░░░░░▀██
█░░░▀▀▀▀███░░░░░░░██░░░██░░░░░░░███▀▀▀▀░░░█
█▄▄░░░░░░██░░░░▄░░▀▀░░░▀▀░░▄░░░░██░░░░░░▄▄█
████▄░░░░▀██░░░░██▀▀▀▀▀▀▀██░░░░██▀░░░░▄████
██████████▀██▄░░░▀███████▀░░░▄██▀██████████
███████▀░░░████▄▄░░░░░░░░░▄▄████░░░▀███████
██████░░░▄▀░░▀▀▀███████████▀▀▀░░▀▄░░░██████
██████░░░▀░░░░░░░░▄▄▄█▄▄▄░░░░░░░░▀░░░██████
████████▄▄▄▄▄▄███████████████▄▄▄▄▄▄████████
██████████████████▀░░▀█████████████████████
█████████████████▀░░░▄█████████████████████
█████████████████░░░███████████████████████
██████████████████░░░▀█████████████████████
███████████████████▄░░░████████████████████
█████████████████████░░░██████████████
────────██████████████████████────────
──────██████████████████████████──────
────██████████████████████████████────
────████████████████████████████████──
──████████▒▒████████▒▒██████████████──
──██████▒▒▒▒▒▒████▒▒▒▒████▒▒████████──
──██████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒████████
████████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒██▒▒████
████████▒▒████▒▒▒▒▒▒▒▒████▒▒▒▒▒▒▒▒████
██████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒██████
██████▒▒▒▒▒▒▒▒▒▒████▒▒▒▒▒▒▒▒▒▒████████
████████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒████████████
████████████▒▒▒▒▒▒▒▒▒▒▒▒██████████████
──██──████████████▒▒▒▒██████████──██──
────────────────██▒▒▒▒██──────██────
████████▀▀░░░░░░░░░░░░░░░░░░░▀▀███████
██████▀░░░░░░░░░░░░░░░░░░░░░░░░░▀██████
█████░░░░░░░░░░░░░░░░░░░░░░░░░░░░░█████
████░░░░░▄▄▄▄▄▄▄░░░░░░░░▄▄▄▄▄▄░░░░░████
████░░▄██████████░░░░░░██▀░░░▀██▄░░████
████░░███████████░░░░░░█▄░░▀░░▄██░░████
█████░░▀▀███████░░░██░░░██▄▄▄█▀▀░░█████
██████░░░░░░▄▄▀░░░████░░░▀▄▄░░░░░██████
█████░░░░░█▄░░░░░░▀▀▀▀░░░░░░░█▄░░░█████
█████░░░▀▀█░█▀▄▄▄▄▄▄▄▄▄▄▄▄▄▀██▀▀░░█████
██████░░░░░▀█▄░░█░░█░░░█░░█▄▀░░░░██▀▀▀▀
▀░░░▀██▄░░░░░░▀▀█▄▄█▄▄▄█▄▀▀░░░░▄█▀░░░▄▄
▄▄▄░░░▀▀██▄▄▄▄░░░░░░░░░░░░▄▄▄███░░░▄██▄
██████▄▄░░▀█████▀█████▀██████▀▀░░▄█████
██████████▄░░▀▀█▄░░░░░▄██▀▀▀░▄▄▄███▀▄██
█░░░░░░░░▀▄░▄███▄     ▄
          █     █▄▀██▄▀   ▄▀ ▀▄
          █▄█▄████████   ▄    █
         ███████  ▀███████   █▄
       ▄████▀         ▀████████
▄▀▀▄████  ▀          ████████
▀▄   ████      ▀  ▀   ▀██████▀▀▄
   ▀▀████▄   ▀▀▄▄▀   ▄████    ▄▀
     █████▄▄        ▄▄█████▀▀  ▄▄
     ▀████  █▀▄▄▄▀  ████▀▀▀▀  █
       ▀█▀   █  ▄       █▀ █   ▄▄▄▀
              █    █▄     ▄▄█   █
              █▄█   ▀▄█      █▄█

░░▄ ▀▄▄▀▄░░░░░░░░░
░█░░░░░░░░▀▄░░░░░░▄░
█░░▀░░▀░░░░░▀▄▄░░█░█
█░▄░█▀░▄░░░░░░░▀▀░░█
█░░▀▀▀▀░░░░░░░░░░░░█
█░░░░░░░░░░░░░░░░░░█
█░░░░░░░░░░░░░░░░░░█
░█░░▄▄░░▄▄▄▄░░▄▄░░█░
░█░▄▀█░▄▀░░█░▄▀█░▄▀░
────────██████████████████████───────
──────██████████████████████████──────
────██████████████████████████████────
────████████████████████████████████──
──████████▒▒▒▒██████████████████████──
──██████▒▒▒▒▒▒▒▒██▒▒▒▒▒▒▒▒██████████──
──██████▒▒▒▒██▒▒▒▒▒▒▒▒██▒▒▒▒██████████
██████▒▒▒▒▒▒██▒▒▒▒▒▒▒▒██▒▒▒▒████▒▒████
██████▒▒▒▒▒▒██▒▒▒▒▒▒▒▒██▒▒▒▒██▒▒▒▒████
██████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒██████
██████▒▒░░░░▒▒██▒▒▒▒██▒▒░░░░▒▒████████
████████░░░░▒▒▒▒████▒▒▒▒░░░░██████████
████████████▒▒▒▒▒▒▒▒▒▒▒▒██████████████
──██──████████████▒▒▒▒██████████──██──
────────────────██▒▒▒▒██──────██──────
░▄████░▀▄░░░░░░░▄▀░█████▄░
████▀█▀▄█████████▄▀█▀████░
▀▀░▀▄█████▀▀▀▀▀░▀███▄▀░▀▀░
░░░░████▀▄░░██░░▄░███░░░░░
░░░▄███▀▄▀▀░▀▀░▀▀▄▀██▄░░░░
░▄▄████░███▄░░▄███░███▄▄░░
░░█████░░▀▀░░░░▀▀░░████░░░
░░░▀▀███▄░▀▄▀▀▄▀░▄██▀▀░░░░
░░░░░░░░░▀▄▄░░▄▄█░░░░░░░░░
░░░░░░░░▄▀▀▄▀▀▄▀▀▄░░░░░░░░
░▄▄▄▄▄▀▀▀██░▄▄░██▀▀▀▄▄▄▄▄░
▀▄▄▀░░░▄▀█▀█▀▀█▀█▀▄░░░▀▄▄▀
░░▄▄▄▄▀▄█▀░▄░░▄░▀█▄▀▄▄▄▄░░
░▀▄▄▀░▄▀█░░▄▄▄▄░░█▀▄░▀▄▄▀░
░░░░░█▀▄░▀▄▀░░▀▄▀░▄▀█░░░░░
░░░░░█▄▀░░█▄░░▄█░░▀▄█░░░░░
░░░░░░░░░▄█▀░░▀█▄░░░░░░░░░
░░░░█░░░░░░░░░░░░░█░░░░
░░░█░░░░░░░░░░▄▄▄░░█░░░
░░░█░░▄▄▄░░▄░░███░░█░░░
░░░▄█░▄░░░▀▀▀░░░▄░█▄░░░
░░░█░░▀█▀█▀█▀█▀█▀░░█░░░
░░░▄██▄▄▀▀▀▀▀▀▀▄▄██▄░░░
░▄█░█▀▀█▀▀▀█▀▀▀█▀▀█░█▄░
▄▀░▄▄▀▄▄▀▀▀▄▀▀▀▄▄▀▄▄░▀▄
█░░░░▀▄░█▄░░░▄█░▄▀░░░░█
░▀▄▄░█░░█▄▄▄▄▄█░░█░▄▄▀░
░░░▀██▄▄███████▄▄██▀░░░
░░░████████▀████████░░░
░░▄▄█▀▀▀▀█░░░█▀▀▀▀█▄▄░░
░░▀▄▄▄▄▄▀▀░░░▀▀▄▄▄▄▄▀░*@
