

<h2>Factorial</h2>
<p>A factorial is the product of an interger and all the intergers below it!</p><br />

<h6>Please input the number you wish to get the factorial of!</h6> <input type="number" id="NTF" />

<button class="btn btn-info" id="btnFact"> Click </button>
<hr />
<h4>The Factorial of your number is!</h4>
<h5 id="factResult"></h5>
<br />
<br />

@section scripts{
<script src="~/js/Factorial.js"></script>
    }