

<h2>Math</h2>
<h5>This tell you the highest and lowest interger of the numbers you input</h5>
<br />

<div class="row">
    
        <div class="col-md-3">
        Input First Number  <br />      
        Input Second Number  <br />     
        Input Third Number   <br />     
        Input Fourth Number  <br />     
        Input Fifth Number  <br />
        </div>

        <div>
            <input id="num1" /><br />
            <input id="num2" /><br />
            <input id="num3" /><br />
            <input id="num4" /><br />
            <input id="num5" /><br />

        </div>

        <div class="col-md-9"></div>



    </div>
    <div class="row">
        <button onclick="myFunction()" class="center-block"> Find Min, Max Values</button>
        <!--limited-->
    </div>

    <h4>Results displayed below:</h4><br />

    <p id="demo" class="h3"></p>


@section scripts{

    <script src="~/js/MathJS.js"></script>

    }