

<h2>Palindrome</h2>
<h6>A palindrome is a word that is the same forwards or backwards, this program takes your word and reverses it to see if it is or is not a palindrome</h6><br />


<div class="row">

    <div class="col-md-4">
        <input type="text" id="wordInput" />
    </div>

  
    <div class="row">
        <button class="btn btn-primary" id="btnPalindrome">An Eye for an eyE</button>
    </div>

    
    <h5>Results displayed below:</h5>
        <div class="row">
            <p id="Results"></p>
        </div>

   


</div>
         
@section scripts {
    
<script src="~/js/Palindrome.js"></script>
    }